<main class=" pb-8">
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="sr-only">Profile</h1>
    <!-- Main 3 column grid -->
    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
      <!-- Left column -->
      <div class="grid grid-cols-1 gap-4 lg:col-span-2">
        <!-- Welcome panel -->
        <%= render partial: 'shared/user_overview', locals: {user: current_user} %>
        <!-- Actions Tasks -->
        
      
      </div> 

      <!-- Right column -->
      <div class="grid grid-cols-1 gap-4">
        <!-- Announcements -->
        <section aria-labelledby="announcements-title">
          <div class="overflow-hidden rounded-lg bg-white shadow">
            <div class="p-6">
              <h2 class="text-base font-medium text-gray-900" id="announcements-title"><%= t("views.dashboard.announcements_title") %></h2>
              <div class="mt-6 flow-root">
                <ul role="list" class="-my-5 divide-y divide-gray-200">
                     <div class="rounded-md bg-blue-50 my-1 p-2">
                      <div class="flex">
                        <div class="ml-3 flex-1 md:flex md:justify-between">
                          <p class="text-sm text-blue-700"><%= t("views.announcements.no_announcement_exists")%></p>
                        </div>
                      </div>
                    </div>
                    <li class="py-5">
                      <div class="relative focus-within:ring-2 focus-within:ring-cyan-500">
                        <div class="flex items-center gap-x-4 text-xs">
                          <h3 class="text-sm font-semibold text-indigo-500">start</h3>
                          <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">12/03/2000</span>
                        </div>
                        <p class="mt-2">start new project</p>
                      </div>
                    </li>
                </ul>
              </div>
              <div class="mt-6">
                <button  class="flex w-full items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    Go
                </button>
              </div>
            </div>
          </div>
        </section>

        <!-- Recent Hires -->
        <section aria-labelledby="recent-hires-title">
          <div class="overflow-hidden rounded-lg bg-white shadow">
            <div class="p-6">
              <h2 class="text-base font-medium text-gray-900" id="recent-hires-title"><%= t("views.dashboard.recent_added_users") %></h2>
              <div class="mt-6 flow-root">
                <ul role="list" class="-my-5 divide-y divide-gray-200">
                  <% @users.each do |user|%>
                    <li class="py-4">
                      <div class="relative flex items-center gap-x-4">
                        <%= image_tag user.avatar_url_or_default, class: "rounded-full h-10 w-10 align-middle" %>
                        <div class="text-sm leading-6">
                          <p class="font-semibold text-gray-900"><%= user.full_name.capitalize %></p>
                          <p class="text-gray-600"><%= user&.job_title %></p>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
