<div class="sm:flex-auto">
  <h1><%= t("views.users.agents") %></h1>
</div>


<div class="px-4 sm:px-6 lg:px-8 mt-5">
  <div class="mt-5 sm:flex sm:justify-between sm:items-center">   
    <% if allowed_to?(:create?) %>
      <div class="flex items-center justify-start">
        <div class="flex items-center">
          <%= link_to new_user_path, class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
            <svg class="mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <%= t("views.users.add_employee") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <!-- Search form -->
    <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
      <div class="max-w-lg w-full lg:max-w-xs">
      <!-- for the search bar --->
      </div>
    </div>
  </div>
  <div class="mt-5 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"><%= t("attributes.user.name") %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("attributes.user.job_title") %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("attributes.user.function_group.site") %></th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @users.each do |user| %>
                <tr>
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="flex items-center">
                      <div class="h-11 w-11 flex-shrink-0">
                        <%= image_tag user.avatar_url_or_default, class: "h-11 w-11 rounded-full" %>
                      </div>
                      <div class="ml-4">
                        <div class="font-medium text-gray-900"><%= user.full_name(first_name_first: false) %></div>
                        <div class="mt-1 text-gray-500"><%= user.email %></div>
                      </div>
                    </div>
                  </td>

                  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.job_title %></td>
                  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.site&.name %></td>
                  <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <%= link_to t("views.shared.view_profile"), user_path(user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                  </td>
                  <% if allowed_to?(:destroy?, user)%>
                    <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <%= button_to "delete", user_path(user), class: "flex justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", method: :delete, data: {turbo_confirm: "Are you sure you wanna delete this?"} %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

