<div class=" mt-5">
  <div  class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="sm:flex-auto mb-7">
      <h1 class="text-3xl tracking-tight font-extrabold text-gray-900"><%= t("views.clients.clients") %></h1>
    </div>
      <!-- Start coding here -->
    <div class="bg-white relative sm:rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-2 md:space-y-0 md:space-x-4 py-2 ">
            <div class=" md:w-1/2">
              <div class="flex items-center">
                <%= search_form_for @q, url: clients_path, method: :get, data: {turbo_frame: "search-client", turbo_action: "advance", controller: "search", action: "input->search#submit"} do |f| %>
                  <div class="flex items-center">
                    <div class="max-w-lg w-full lg:max-w-xs">
                      <%= f.label :name_or_responsible_name_or_responsible_email_or_phone_or_city_or_code_postal_or_adress_cont, "Search by all", class: "sr-only" %>
                      <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                          <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                          </svg>
                        </div>
                        <%= f.search_field :name_or_responsible_name_or_responsible_email_or_phone_or_city_or_code_postal_or_adress_cont, class: "block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Name" %>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
              </div>
              <% if allowed_to?(:create?) %>
                <%= link_to new_client_path, class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", data: { turbo_frame: "right_content", action: "right#show" } do %>
                  <svg class="mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <%= t("views.clients.add_client") %>
                <% end %>
              <% end %>
            </div>
        </div>
        <div id="clients-list" class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                    <tr>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.name") %></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.responsible_name")%></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.responsible_email") %></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.phone") %></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.adress") %></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.clients.city") %></th>
                      <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>
                <tbody id="client">
                  <%= turbo_frame_tag :reloadable, "search-client"  do %>
                  <%= render partial: 'client', collection: @clients %>
                  <% end %>
                </tbody>
            </table>
        </div>
        <%= pagination @clients %>
    </div>
  </div>
</div>
