<tr id="<%= dom_id role %>" class="bg-white border-b hover:bg-gray-50 ">
  <th scope="row" class="px-6 py-4">
    <%= role.user.full_name %>
  </th>

  <td class="px-6 py-4">
    <div class="flex items-center">
      <%= Role.human_enum_name(:name, role.name) %>
    </div>
  </td>

  <td class="px-10 py-6 flex items-center justify-end">
      <%= link_to "edit", edit_role_path(role), data: {turbo_frame: "right_content", action: "right#show"},  class: "block py-2 px-4 text-blue-500 hover:text-blue-800" %>
      <%= button_to "delete", role_path(role), class: "block py-2 px-4  text-red-500 hover:text-red-800", method: :delete, data: {turbo_confirm: "Are you sure you wanna delete this?"}%>
  </td>
</tr>