<%= render partial: 'settings/settings_header' %>

<div class=" mt-5">
  <div  class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="sm:flex-auto mb-7">
      <h1 class="text-3xl tracking-tight font-extrabold text-gray-900"><%= t("views.role.roles_title") %></h1>
    </div>
      <!-- Start coding here -->
    <div class="bg-white relative sm:rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-2 md:space-y-0 md:space-x-4 py-2 ">
            <div class=" md:w-1/2">
              <div class="flex items-center">
                <!-- place for the search bar -->
              </div>
            </div>
            <%= link_to new_role_path, class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", data: { turbo_frame: "right_content", action: "right#show" } do %>
              <svg class="mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <%= t("views.role.add_roles") %>
            <% end %>
        </div>
        <div class=" overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                    <tr>
                      <th scope="col" class="px-6 py-3"><%= t("views.role.full_name") %></th>
                      <th scope="col" class="px-6 py-3"><%= t("views.role.role") %></th>
                      <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>
                <tbody id="role-list">
                  <%= render @roles %>
                </tbody>
            </table>
        </div>
        <%= render partial: 'shared/pagination' %>
    </div>
  </div>
</div>
